<IfModule mod_headers.c>
 Header set Access-Control-Allow-Origin "*"
 Header set Access-Control-Allow-Methods: "POST, PUT, GET, OPTIONS"
 Header set Access-Control-Allow-Headers: "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With, X-PUBLIC-API-KEY, X-CSRF-TOKEN"
</IfModule>